@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Lexend Deca", "Roboto", sans-serif;
}
p {
  font-family: "Lexend Deca", "Roboto", sans-serif;
}

li {
  font-family: "Lexend Deca", "Roboto", sans-serif;
 
  font-weight: bold;
  
}

nav a {
  font-family: "Lexend Deca", "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.contact-us input,
.contact-us textarea,
.contact-us button,
.contact-us label {
  font-family: "Lexend Deca", "Roboto", sans-serif;
  font-size: 16px;
}
